*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    background-color: beige;
    height: 100vh;     
    display: flex;
    justify-content: center;
    align-items: center;

}
.frame
{
    height: 600px;
    width: 480px;
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 15px #68cd68, -5px -5px 10px #ffff;
    

}
.heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#display
{
    height: 70px;
    width: 100% ;
    border: none;
    outline: none;
    background:transparent;
    box-shadow: inset 2px 2px 10px #b4edf4,inset -5px -5px 10px #ffff;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}
.buttons-group
{
    display: flex;
    justify-content: space-around;

     
}
.button{
    height: 80px;
    width: 80px;
 border: none;
 outline: none;
 box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4 ;
 margin: 15px;


}
.button:active
{
     box-shadow: inset 1px 1px 2px #babeec,-1px -1px 2px #ffff;
}
.button:hover
{
    background-color: red;
}